.productContainer span{
    position: absolute;
    display: none;
    align-self: center;
    justify-self: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    filter: blur(4px);
    animation: fade-in 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
    font-size: 2rem;
}

@media screen and (min-width:768) {
    .productContainer:hover{
        transform: translateY(-10px);
    }
}

.productContainer:hover > span{
    display: block;
}

@keyframes fade-in{
    0%{
        transform: translateY(100%);
    }
    100% {
       opacity: 1;
       filter: none;
       transform: translateY(0);
    }
}